################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BusWankersSharp/FileContentIndex
/.vs
/Common/bin
/Common/obj
/AutofillFromCSV/bin
/AutofillFromCSV/obj
/.vs
